#content {
    width: 100%;
    min-height: 600px;
    border: solid 1px black;
}

#gameBoard {
    width: 100%;
    border: solid 1px red;
}

#gameBoard tr {
    width: 100%;
    border: solid 1px green;
}

#gameBoard tr td {
    width: 12%;
    border: solid 1px blue;
}
